.fathDiv{
    margin: 1px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: blue;

}
.users {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 25%;
    height: 100px;

    border: 1px solid blue;
    border-radius: 15px;
    background: yellow;

}